/* 
    Document   : video
    Created on : 2013-2-14, 12:59:48
    Author     : dant
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    margin: 0;
}

#player {
    height: auto;
}

.myVideo {
    background-color: black;
}

#canvasContainer {
    z-index: 30;
    position: absolute;
}

#videoContainer {
    z-index: 20;
    
}
.size-video {
    width: 852px;
    height: 480px;
}

#videoController {
    height: auto;
    
}


#videoController > * {
    /* float:left; */
    vertical-align: middle;
    height: 2em;
}

#playpause {
    font-family: monospace;
    
    width: 2em;
    height: 2em;
    text-align: center;
    text-decoration: none;
    color: #444;
    border-right: solid #888 1px;
    vertical-align: middle;
    cursor: default;
}

#playpause:hover {
    color: #0af;
}

#videoStatus {
    font-size: 8pt;
    width: 6.25em;
    text-align: center;
}

#commentBox {
    /*float: left;*/
    height: 1.5em;
    /*width: 100%;*/
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0 4px;
    margin-right: 8px;
}

#commentBox > * {
    height: 1.5em;
    line-height: 1.5em;
    background-image: linear-gradient(to bottom, #fff, #eee);
}

#comment {
border: none;
background: none;

height: 90%;
width: 100%;
    font-size: 11pt;
}


#sendBtn {

   
   float: right;
   border-left: solid 1px #999;
   width: 56px;
   text-align: center;
   cursor: default;
 
}



.funcBtn {
    width: 1.2em;
    padding: 0 0.2em;
}

#progressBar {
    width: 100%;
    height: 0.4em;
    background: #444;
}

#controls {
    width: 100%;


    background-image: linear-gradient(to bottom, #eee, #ddd);
    background-image: -webkit-linear-gradient(top, #eee, #ddd);
    background-image: -moz-linear-gradient(top, #eee, #ddd);
    background-image: -o-linear-gradient(top, #eee, #ddd);

}


#controls > * {

}



.clear-both {
    clear: left;
}
