
body { 
    margin: 0;
    overflow: hidden;
}

#player {
    height: 100%;
}

#myVideo {
    height: 100%;
}

#canvasContainer {
    z-index: 30;
    position: absolute;
    padding: 0;
}

#videoContainer {
    z-index: 20;
    padding: 0;
    background-color: black;
    vertical-align: central;
    height: 100%
}
.size-video {
    width: 100%;
    height: 100%;
    margin-bottom: -2.4em;
}

#videoController {
    height: calc(2em + 4px);
    width: 100%;
    margin-top: 2.4em;
}


#videoController > * {
    /* float:left; */
    vertical-align: middle;
    height: 100%;
}

#playpause {
    font-family: monospace;

    width: 2em;
    height: 2em;
    text-align: center;
    text-decoration: none;
    color: #444;
    border-right: solid #888 1px;
    vertical-align: middle;
    cursor: default;
}

#playpause:hover {
    color: #0af;
}

#videoStatus {
    font-size: 8pt;
    width: 6.25em;
    text-align: center;
}

#commentBox {
    /*float: left;*/
    height: 1.5em;
    /*width: 100%;*/
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0 4px;
    margin-right: 8px;
}

#commentBox > * {
    height: 1.5em;
    line-height: 1.5em;
    background-image: linear-gradient(to bottom, #fff, #eee);
}

#comment {
    border: none;
    background: none;

    height: 90%;
    width: 100%;
    font-size: 11pt;
}


#sendBtn {


    float: right;
    border-left: solid 1px #999;
    width: 56px;
    text-align: center;
    cursor: default;

}



.funcBtn {
    width: 1.2em;
    padding: 0 0.2em;
}

#progressBar {
    width: 100%;
    height: 6px;
    background: #444;
    padding: 0;
    -webkit-box-sizing: content-box;
}

#progressCanvas {
    position: absolute;
    width:  100%;
    height: 6px;
}

#controls {
    width: 100%;
    height: 2em;
    margin: 0;
    background-image: linear-gradient(to bottom, #eee, #ddd);
    background-image: -webkit-linear-gradient(top, #eee, #ddd);

}


#controls > tbody {
    margin: 0;
    
}



.clear-both {
    clear: left;
}
