/* 
    Document   : video
    Created on : 2013-2-14, 12:59:48
    Author     : dant
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#player {
    height: auto;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.7); 
}

.myVideo {
    background-color: black;
}

#canvasContainer {
    z-index: 30;
    position: absolute;
}

#videoContainer {
    z-index: 20;
    
}
.size-video {
    width: 640px;
    height: 480px;
}

#videoController {
    height: auto;

}


#videoController > * {
    /* float:left; */
}

#playpause {
    font-family: monospace;
    
    width: 2em;
    height: 1.5em;
    text-align: center;
    text-decoration: none;
    color: #444;
    border-right: solid #888 1px;
    
    cursor: default;
}

#playpause:hover {
    color: #0af;
}

#videoStatus {
    font-size: 8pt;
    width: 6.25em;
    text-align: center;
}
#comment {
    border: solid 1px #999;
    background-image: linear-gradient(to bottom, #fff, #eee);
}

.controllerLine {
    
    height: 1em;
    clear: both;
}

.controllerLine > * {
    float: left;
}

.controllerLine > .time {
    width: 2.5em;
}

#progressBar {
    width: 100%;
    height: 0.4em;
    background: #444;
}

#buttons {
    width: 100%;
    height: 2em;
    background-image: linear-gradient(to bottom, #eee, #ddd);
    background-image: -webkit-linear-gradient(top, #eee, #ddd);
    background-image: -moz-linear-gradient(top, #eee, #ddd);
    background-image: -o-linear-gradient(top, #eee, #ddd);
}

.controllerLine > #duration {
    float: right;
}

.clear-left {
    clear: left;
}
